<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <strong>Nome: </strong> 
      <div class="item-note">
        {{user.name}}
      </div>
    </ion-item>
    <ion-item>
      <strong>Idade: </strong> 
      <div class="item-note">
        {{user.age}}
      </div>
    </ion-item>
    <ion-item>
      <strong>Telefone: </strong> 
      <div class="item-note">
        {{user.phone}}
      </div>
    </ion-item>
    <ion-item>
      <strong>E-mail: </strong> 
      <div class="item-note">
        {{user.mail}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
